.Controls {
  display: flex;
  /* justify-content: stretch; */
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.TextAreaContainer {
  flex-grow: 1;
  width: 100%;
  padding: 8px 16px;
  line-height: 0;
  border-radius: 16px;
  background: #ffffff;
}

.TextArea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  background: #ffffff;
  color: #0d0d0d;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: #0d0d0d;
  position: relative;
  bottom: 50px;
  right: 10px;
}

.Button svg {
  fill: #f3f3f3;
}
